@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100;12..72,400;12..72,700&display=swap");
/* repeatable pattern */
:root {
  --clr-dark: #2b2b2b;
  --clr-light: #fff;
  --clr-primary: #1b8b83;
  --clr-secondary: #cfa584;
  --clr-semilight: #d9d9d9;
  --font: "Truculenta", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: var(--clr-dark);
  font-family: var(--font);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 5rem;
}

/*HEADER*/
.header {
  padding: 2rem 0;
  background-color: var(--clr-semilight);
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  display: flex;
  gap: 2rem;
}
.header .header_wrapper ul li a {
  font-weight: 700;
  color: var(--clr-dark);
  font-size: 2rem;
}

.header_nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.header .header_wrapper ul li a:hover {
  color: var(--clr-primary);
}

/* MOBILE RESPONSIVE */
.header .toggle_menu span {
  color: var(--clr-primary);
  width: 3rem;
  height: 0.3rem;
  border: 2px solid;
  border-radius: 1rem;
}
.header .toggle_menu {
  display: none;
}
/* ABOUT HEADER MOBILE */
@media screen and (max-width: 520px) {
  .header .toggle_menu {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  .header .header_nav {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--clr-semilight);
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9;
    transition: all 0.5s ease;
    transform: translateY(-18rem);
    margin-top: 26rem;
    gap: 2rem;
    right: -100%;
  }
  .header_nav.open {
    right: 0;
    transition: all 0.5s ease;
  }
  .header .header_wrapper img {
    width: 10rem;
  }
  .toggle_menu.open span:first-child {
    transform: translate(0, 12px) rotate(225deg);
    transition: 0.5s ease;
  }
  .toggle_menu.open span:nth-child(2) {
    opacity: 0;
    transition: 0.5s ease;
  }
  .toggle_menu.open span:last-child {
    transform: translate(0, -11px) rotate(-225deg);
    transition: 0.5s ease;
  }
}
/* TOP */
.top {
  background-color: var(--clr-secondary);
  padding: 3rem 0;
  text-align: center;
}
.top span {
  font-size: 1.7rem;
  font-weight: 100;
  margin-bottom: 5rem;
}
.top h4 {
  line-height: 2.2rem;
  font-size: 3rem;
  font-weight: 700;
}

/* HOME BANNER */
.homeBanner {
  padding-top: 3rem;
  padding-bottom: 7rem;
}
.homeBanner_wrapper {
  display: flex;
  justify-content: space-between;
}
.homeBanner_left {
  max-width: 80rem;
}
.homeBanner_left ul li {
  line-height: 5rem;
}
.homeBanner_left ul li:first-child {
  color: var(--clr-primary);
  font-size: 5rem;
  font-weight: 700;
}
.homeBanner_left ul li:nth-child(2) {
  color: var(--clr-secondary);
  font-size: 5rem;
  font-weight: 700;
  margin-left: 7rem;
}
.homeBanner_left ul li:last-child {
  /* position: absolute; */
  color: var(--clr-primary);
  font-size: 5rem;
  font-weight: 100;
}
.homeBanner_left ul li:last-child::before {
  display: inline-block;
  position: relative;
  content: "  ";
  background-color: var(--clr-primary);
  width: 20rem;
  height: 0.2rem;
  bottom: 1rem;
  right: 1rem;
}
.homeBanner_left p {
  margin-bottom: 5rem;
}

.homeBanner_right {
  display: flex;
  gap: 2rem;
}
.homeBanner_right img:last-child {
  position: relative;
  top: 4rem;
}
/* ABOUT HOME BANNER MOBILE */
@media screen and (max-width: 520px) {
  .homebanner_wrapper {
    flex-direction: column;
  }
  .homeBanner_left ul li:last-child::before {
    width: 5rem;
  }
  .homeBanner_right {
    display: none;
  }
}

/* ABOUT SECTION */
.aboutsection {
  padding: 3rem 0;
  background-color: var(--clr-dark);
}
.aboutsection h2 {
  color: var(--clr-primary);
  font-size: 3rem;
  font-weight: 700;
}
.aboutsection h2::before {
  display: inline-block;
  position: relative;
  content: " ";
  background-color: var(--clr-primary);
  height: 0.2rem;
  width: 120rem;
  bottom: 1rem;
  right: 1rem;
}
.aboutsection_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  align-items: center;
}
.aboutsection_right {
  max-width: 100rem;
}
.aboutsection_right p {
  color: var(--clr-light);
  margin-bottom: 2rem;
}

/* ABOUT SECTION MOBILE */
@media screen and (max-width: 520px) {
  .aboutsection_left {
    display: none;
  }
  .aboutsection h2::before {
    display: none;
  }
}

/* CATALOG SECTION */
.catalogsection {
  padding: 3rem 0;
}
.catalogsection_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}
.catalogsection h2 {
  color: var(--clr-primary);
  font-size: 3rem;
  font-weight: 700;
}
.catalogsection h2::after {
  display: inline-block;
  position: relative;
  content: " ";
  background-color: var(--clr-primary);
  height: 0.2rem;
  width: 120rem;
  bottom: 1rem;
  left: 1rem;
}
.catalogsection_card {
  background-color: var(--clr-semilight);
  max-width: 40rem;
  margin-top: 4rem;
}
.catalogsection_card img {
  width: 40rem;
}
.catalogsection_card-content {
  padding: 1rem;
}
.catalogsection_card-content h3 {
  color: var(--clr-secondary);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.catalogsection_card-content p {
  margin-bottom: 1rem;
}
/* CATALOG MOBILE */
@media screen and (max-width: 520px) {
  .catalogsection h2::after {
    display: none;
  }
  .catalogsection_wrapper {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}


/* CATALOG BANNER */
.catalogbanner_bg {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0)
    ),
    url(./img/catalog-banner.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  /* to center the text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.catalogbanner h1 {
  font-size: 7rem;
  font-weight: 700;
  color: var(--clr-primary);
}
.catalogbanner p {
  font-size: 3rem;
  line-height: 2.5rem;
}
/* INTERIOR DESIGN PACKAGE */

.package h2 {
  color: var(--clr-primary);
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  padding: 3rem;
}

.package_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.package_theme {
  padding: 5rem;
  display: flex;
  gap: 0.5rem;
  max-width: 1500px;
  width: 100%;
}
.package_left img {
  width: 500rem;
  max-width: 60rem;
}
.package_right {
  text-align: center;
  justify-content: center;
  text-align: justify;
  padding: 2rem;
}

.package_theme:nth-child(odd) {
  background-color: var(--clr-semilight);
  flex-direction: row-reverse;
  justify-content: space-between;

  .package_right {
    text-align: center;
    justify-content: center;
    text-align: justify;
  }
}

/* INTERIOR DESIGN MOBILE */

@media screen and (max-width: 520px) {
  .catalogbanner {
    flex-direction: column;
  }
  .package_theme {
    flex-direction: column;
    justify-content: center;
  }
  .package_theme:nth-child(odd) {
    flex-direction: column;
  }
}


/* CALL TO ACTION */
.cta {
  padding: 2rem 0;
  background-color: var(--clr-primary);
  color: var(--clr-semilight);
}
.cta_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cta h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
.cta p {
  margin-bottom: 1rem;
}

/* FOOTER */
.footer {
  background-color: var(--clr-dark);
  color: var(--clr-semilight);
  padding: 2rem 0;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
}
.footer ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.footer ul li a {
  color: var(--clr-semilight);
}

/* FOOTER MOBILE */
@media screen and (max-width: 520px) {
  .footer_wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

/* ABOUT PAGE BANNER */
.aboutBanner {
  padding: 3rem 0;
}
.aboutBanner__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.aboutBanner__right {
  max-width: 85rem;
}
.aboutBanner__right h1 {
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: 2rem;
  margin-bottom: 2.5rem;
}
.aboutBanner__right ul {
  display: flex;
  gap: 1rem;
}
.aboutBanner__right p {
  margin-bottom: 2rem;
  text-align: justify;
}

.aboutBanner__right ul li a {
  color: var(--clr-dark);
  font-size: 2.5;
}

.aboutBanner__left small {
  margin-left: 1rem;
}
.aboutBanner__left small::before {
  display: inline-block;
  position: relative;
  content: " ";
  background-color: var(--clr-dark);
  width: 35rem;
  height: 0.2rem;
  bottom: 0.5rem;
  right: 1rem;
}

/* ABOUT PAGE BANNER MOBILE */
@media screen and (max-width: 520px) {
  .aboutBanner__left {
    display: none;
  }
  .aboutBanner__right h1 {
    font-size: 4rem;
  }
  .aboutBanner__right ul li a {
    font-size: 1.5rem;
  }
}

/* LATEST STYLE SECTION */
.latestStyle {
  padding: 3rem 0;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.latestStyle_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.latestStyle h1 {
  color: var(--clr-primary);
  font-size: 3rem;
  font-weight: 700;
}
.latestStyle h2::after {
  background-color: var(--clr-dark);
  height: 0.2rem;
  width: 120rem;
  bottom: 1rem;
  left: 1rem;
}
.latestStyle_card {
  background-color: var(--clr-semilight);
  max-width: 40rem;
  margin-top: 4rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.latestStyle_card img {
  width: 40rem;
}
.latestStyle_card--content {
  padding: 1rem;
}
.latestStyle_card--content h3 {
  color: var(--clr-secondary);
  font-size: 2.5rem;
  font-weight: 700rem;
  margin-bottom: 1rem;
}
.latestStyle_card--content p {
  margin-bottom: 1rem;
  color: var(--clr-dark);
}

/* LATEST STYLE MOBILE */
@media screen and (max-width: 520px) {
  .latestStyle_h1 {
    display: none;
  }
  .latestStyle_wrapper {
    grid-template-columns: 1fr;
  }
}



/* INTERIOR DESIGN MOBILE */

@media screen and (max-width: 520px) {
  .catalogbanner {
    flex-direction: column;
  }
  .package_theme {
    flex-direction: column;
    justify-content: center;
  }
  .package_theme:nth-child(odd) {
    flex-direction: column;
  }
}

/* .contact { 
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact h1 {
  color: var(--clr-primary);
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts__right {
  flex-basis: calc(50% - 10px);
}

.contacts__left h1{
  color: var(--clr-semi-light);
  font-size: 6rem;
  font-weight: 700; 
  margin: 20px;
}
.contacts__left p{
  color: var(--clr-light);
  padding: 2rem;
  font-size: 1.5rem;
  margin-bottom: 20px;

}

.contacts__left {
  flex-basis: calc(50% - 10px);
  padding-left: 20px;
}

.contacts__right form {
  border: none;
  box-shadow: none;
  padding-right: 20px; 
}

input[type="text"],
textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  padding: 5px 0;
  margin-bottom: 10px;
  width: 100%; 
}

textarea::placeholder {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

textarea {
  height: 100px;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-bottom-color: var(--clr-primary);
  box-shadow: none;
}
.contacts__left{
background-color: var(--clr-dark);

}
*/

/* UPDATES */
.updates {
  padding: 5rem 0;
}
.updates_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.update_contents h2 {
  color: var(--clr-primary);
  font-size: 7rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5rem;
}
.update_contents p {
  text-align: justify;
}

/* BUILDING DESIGN */
.design {
  padding: 5rem 0;
  background-color: var(--clr-light);
}
.design_main h2 {
  font-size: 4rem;
  color: var(--clr-secondary);
  font-weight: 700;
}
.design_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  gap: 5rem;
}
.design_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.cards {
  padding: 2rem;
  background-color: var(--clr-semilight);
  margin-bottom: 3rem 0;
}
.design_sidebar h2 {
  font-size: 4rem;
  color: var(--clr-secondary);
  font-weight: 700;
}
.design_cards h4 {
  text-align: center;
  font-style: 3rem;
  font-size: 3rem;
  padding-bottom: 2rem;
  font-weight: 700;
}
.design_sidebar ul li {
  margin-bottom: 2rem;
  justify-content: space-between;
  display: flex;
  font-size: 2.5rem;
  font-weight: 700;
}
.design_cards a {
  margin-bottom: 3rem;
  font-size: 3.5rem;
  color: var(--clr-dark);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.design_card:nth-child(odd) {
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
}

/* UPDATES MOBILE */

@media (max-width: 520px) {
  .package_card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
  
  }
  .updates_wrapper {
    flex-direction: column;
  }
  .design_wrapper{
    grid-template-columns: 1fr;
    flex-direction: column;
    gap: 3rem;
  }
}
/* CONTACT */
.contactPage {
  padding: 20rem 0;
  gap: 2rem;
}

.contactPage h2 {
  font-size: 30px;
  font-weight: 700;
}

.contactPage h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--clr-primary);
}
.contacPage_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 3rem;
}
.contact__form input,
.contact__form textarea {
  border: none;
  background-color: var(transparent);
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 10px 16px;
}

.contact__form button {
  width: 100%;
  padding: 10px 16px;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  letter-spacing: 1rem;
}
.contact__info {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  padding: 40px;
}

.contact__info ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact__info ul li a {
  color: var(--clr-secondary);
  font-size: 2.5rem;
}
/* CONTACT MOBILE */

@media (max-width: 520px) {
  .contacPage_wrapper{
    flex-direction: column;
    grid-template-columns: 1fr;
    padding: 1rem;

  }
}
/* RECENT PROJECT */
.recent {
  padding: 4rem;
}
.recent h2 {
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  color: var(--clr-primary);
}
.recent_wrapper {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  gap: 2rem;
}
.recent_wrapper img {
  width: 100%;
  margin-bottom: 10px;
}
.recent_wrapper ul {
  display: flex;
  justify-content: space-between;
}
.recent_wrapper ul li {
  font-size: 2rem;
  font-weight: 500;
}

/* RECENT MOBILE */

@media screen and (max-width: 520px) {
  .catalogBanner {
    flex-direction: column;
  }
  .recent_wrapper:nth-child(odd) {
    flex-direction: column;
  }
  .recent_wrapper {
    flex-direction: column;
    justify-content: center;
  }
}

/* COMPONENTS/REPEATABLE */
.btn {
  background-color: transparent;
  border: transparent;
  border-radius: 10rem;
  padding: 1rem 2rem;
  color: transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: 700;
}
.btn.bg--semi-light {
  background-color: var(--clr-semilight);
  color: var(--clr-dark);
}
.btn.bg--semi-light:hover {
  background-color: var(--clr-dark);
  color: var(--clr-semilight);
}
.btn--nobg {
  color: var(--clr-dark);
}
.btn--nobg:hover {
  color: var(--clr-primary);
}
